/* Add or modify your desired styles here */

.hidden {
  display: none;
}

#game-section {
  margin-top: 20px;
}

#budget-section {
  margin-bottom: 20px;
}

#decision-section {
  margin-top: 20px;
}
